<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button menuToggle *ngIf="vehicule == null;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button icon-only (click)="cancelInventaire()" *ngIf="vehicule != null;">
      <ion-icon name="undo"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>

    <ion-buttons end >
      <button *ngIf="vehicule != null;" (click)="saveVehicule()"  color="secondary" ion-button icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="inventaire == null; else vehiculesBlock">
  <ion-list inset>
      <ion-item  *ngFor="let inventaire of (inventaires) | async | orderBy : ['l']" (click)="selectInventaire(inventaire)">
        <h2>
          {{inventaire.l}}
        </h2>
      </ion-item>
  </ion-list>
</div>
<ng-template #vehiculesBlock>
  <div *ngIf="vehicule == null; else inventaireBlock">
    <ion-list inset>
        <ion-item [ngClass]="isVehiculeDone(i)" *ngFor="let i of (inventaire.j)" (click)="selectVehicule(i)">
          <h2>{{i.l}}</h2>
          <p>{{(i.log | async)?.u + ' ' +((i.log | async)?.t | date: 'dd/MM/yyyy HH:mm:ss')}}</p>
        </ion-item>
    </ion-list>
  </div>
  <ng-template #inventaireBlock>
  <ion-list>
      <ion-item-group *ngFor="let s of (vehicule.s)">
      <ion-item-divider color="light">{{s.l}}</ion-item-divider>
      <ion-item *ngFor="let i of (s.items)">
        <h2>{{i.l}}</h2>
        <p>{{(i.n ? i.n : 0) + ' / ' + i.q}}</p>
        <button ion-button item-end  icon-only color="danger" class="inventaire" style="height: 50px; width: 50px;" (click)="removeItem(i)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
        <button item-end ion-button  icon-only color="primary" class="inventaire" style="height: 50px; width: 50px;" (click)="setItem(i)">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
        <button item-end ion-button  icon-only color="secondary" class="inventaire" style="height: 50px; width: 50px;" (click)="addItem(i)">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
        <ion-item>
          <ion-textarea placeholder="Commentaire" [(ngModel)]="s.c"></ion-textarea>
        </ion-item>
    </ion-item-group>

  </ion-list>

</ng-template>
 <!-- <ion-footer>
    <ion-toolbar>
        <button color="danger" full (click)="inventaire=null" ion-button>
          Annuler
        </button>
        <button color="primary" (click)="saveJob(inventaire)" full ion-button>
          Enregistrer
        </button>
        <button color="secondary" (click)="endJob(inventaire)" full ion-button>
          Terminer
        </button>
    </ion-toolbar>
  </ion-footer>-->
    </ng-template>
</ion-content>
